<br><br>
                <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>External Links</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="https://www.linkedin.com/in/farren-stanley-08b4a7bb/">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="https://github.com/FarrenTStanley">Github</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Welcome!</h4>
                    <p>Welcome to the bloggiest blog on Mount Blog! Kidding... but thanks for stopping by and continue
                    to come back as I write more about my learning adventure, Espresso Porters and Coffee Stouts... mainly
                    the Porters and Stouts.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->